<!DOCTYPE html>
<html lang = "en"> 
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=devide-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title> Cidades inteligentes </title>
</head>
<script language = "javascript" src = "_javascript/funcoes.js"> </script>

<body>
    <div id = "interface">
        <header id = cabecalho>

        <hgroup> 

        </hgroup>

        </header>
<section id = "corpo">
    <nav id = "menu">
        <h1> Menu de Navegacao </h1>

    </nav>
</section>
</body>
</html>