<form action="admin/categorias/add" method="POST">
  <label for="titulo">Título:</label>
  <input type="text" id="titulo" name="titulo">
  
  <label for="conteudo">Conteúdo:</label>
  <textarea id="conteudo" name="conteudo"></textarea>
  
  <button type="submit">Cadastrar Postagem</button>
</form>
